<h1>Edit Article</h1>
<link rel="stylesheet" href="assets/stylesheets/articles.scss" />

<%= form_for :article, url: article_path(@article),
method: :patch do |f| %>
<p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
</p>

<P>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
</P>

<p><%= f.submit %></p>
<% end %>

