<link rel="stylesheet" href="assets/stylesheets/articles.scss" />
<center><h1>저장내역</h1></center>
<p>
    <strong>Title</strong>
    <%= @article.title %>
</p>
<p>
    <strong>Content:</strong>
    <%= @article.content %>
</p>

<%= link_to "전체목록", articles_path %>
<%= link_to "수정", edit_article_path(@article) %>
<%= link_to "삭제", article_path(@article), method: :delete %>